+++
title = "GSP-Docs"
linkTitle = "GSP Documentation"

+++

{{< blocks/cover title="Benvenuto/a nella documentazione ufficiale di GSP" image_anchor="top" height="full" color="green" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="/it/docs/">
		Vai alla documentazione <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/game-server-panel/game-server-panel">
		Download <i class="fab fa-github ml-2 "></i>
	</a><br>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}

{{% /blocks/lead %}}

{{< blocks/section color="ligth" >}}
{{% blocks/feature icon="fab fa-docker" title="Containers!" %}}
Ogni server è containerizzato grazie a Docker, ciò garantisce maggior sicurezza :D
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contribuisci!" url="https://github.com/game-server-panel/game-server-panel" %}}
Accettiamo molto volentiari le [Pull Request](https://github.com/game-server-panel/game-server-panel/pulls), ogni contributo è ben accetto!
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-lightbulb" title="Giochi supportati!" %}}
In futuro abbiamo in piano di supportare tanti giochi, attualmente è supportato solo Minecraft (Terraria è il prossimo in lista ;) )
{{% /blocks/feature %}}