+++
title = "GSP-Docs"
linkTitle = "GSP Documentation"

+++

{{< blocks/cover title="Welcome to GSP official documentation" image_anchor="top" height="full" color="green" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="/docs/">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/game-server-panel/game-server-panel">
		Download <i class="fab fa-github ml-2 "></i>
	</a><br>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}

{{% /blocks/lead %}}

{{< blocks/section color="ligth" >}}
{{% blocks/feature icon="fab fa-docker" title="Containers!" %}}
Every server is containerized with Docker for security reasons
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/game-server-panel/game-server-panel" %}}
We do a [Pull Request](https://github.com/Superredstone/game-server-panel/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-lightbulb" title="Supported games!" %}}
Currently only Minecraft is supported but Terraria will be introduced soon
{{% /blocks/feature %}}

